@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'switzer';
}

.underline-colored:after {
    content: '';
    display: block;
    height: 2px; 
    /* Height of the underline */
    background-color: #FFBA00; /* Color of the underline */
  }